/* COmmon elements */

.padding {
    padding: 65px 0px;
}

.padding-top {
    padding: 65px 0px 0px;
}

.heading-bar {
    position: relative;
}

.heading-bar span:before {
    display: inline-block;
    position: absolute;
    content: '';
    padding-bottom: 6px;
    left: 50%;
    margin-left: -100px;
    bottom: 0px;
    width: 200px;
    border-bottom: 1px solid #f58021;
}

.heading-bar span:after {
    content: "";
    position: absolute;
    width: 31px;
    height: 5px;
    bottom: -2px;
    left: 50%;
    right: 0;
    background: #f58021;
    color: #f58021;
    display: block;
    margin-left: -15px;
}

.goodVib .listen {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
}

.goodVib .listen i {
    display: block;
    margin: 10px 0;
}

.goodVib .listen span {
    color: #02529b;
}

.goodVib .Goodvibmarigin {
    margin: 15px 0px;
}


/*BANNER*/

.bannerBox {
    background: url('../images/bannerImage.png') center center no-repeat #1e2c36;
    height: 700px;
    position: relative;
    z-index: 1;
}

.bannerBox:after {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: url('../images/bannerCropper.png') center center no-repeat;
    background-size: 100% 50px;
}

.bannerBox .bannerContent {
    padding-top: 150px;
    position: relative;
}

.bannerBox .bannerContent h3 {
    background: #f58021;
    border-radius: 10px;
    padding: 0 10px;
    color: #fff;
    width: 433px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px #000000;
}

.bannerBox .bannerContent p {
    background: #004877;
    border-radius: 18px;
    padding: 0 10px;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
    padding: 0px 10px;
    margin: 5px 0 5px 0;
    color: #fff;
    width: 433px;
    font-weight: 700;
}

.bannerBox .bannerContent p i {
    padding-right: 5px;
}

.bannerBox .bannerTitle {
    color: #fff;
    font-family: 'Signika', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-shadow: 2px 1px #000000;
}

.bannerBox .product {
    background: #fff;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    border: 8px solid #f58021;
    position: absolute;
    bottom: -157px;
    right: 57px;
}

.bannerBox .product img {
    width: 100%;
    height: auto;
}

.bannerBox .bannerTitle span {
    color: #f58021;
}

.headMenu {
    position: relative;
    z-index: 99;
}

.navigation {
    position: absolute;
    padding: 20px 0;
    width: calc(100% - 40px);
}

.navigation a {
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    line-height: 94px;
    color: #fff;
    font-weight: 700;
}


/* Section:ourProducts */

.ourProducts .marginRight {
    margin-right: 10px;
}

.ourProducts h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.ourProducts .card-title {
    margin-bottom: 15px !important;
    margin-top: 10px !important;
    font-weight: 700;
}

.ourProducts .card {
    font-weight: 700;
}

.ourProducts .card h5 {
    text-transform: uppercase;
}

.ourProducts .card .price {
    color: #f58021;
}

.ourProducts .card-body {
    background-color: #0076a9;
}

.ourProducts .card-body p {
    color: #fff;
    font-weight: 700;
}

.ourProducts .card-body button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f58021;
    border-color: #f58021;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 14px;
    font-family: 'Rajdhani', sans-serif;
}

.ourProducts .btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.ourProducts .btn-primary:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: #f58021;
    border-color: #f58021;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
    background-repeat: no-repeat
}

.ourProducts .icon {
    background-color: #0076a9;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 18px 9px;
    display: inline-block;
}

.ourProducts .shippingOffer {
    margin-top: 50px;
}

.ourProducts .shippingOffer .iconblock {
    display: inline;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 0px 10px;
}


/* Section:Benefits And Review */

.benefitsAndReview .Reviews {
    border-bottom: 1px solid #d8d8d8;
    margin-top: 15px;
}

.benefitsAndReview li span {
    padding-left: 10px;
}

.benefitsAndReview h4 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #f58021;
    position: relative;
    font-size: 40px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
}

.benefitsAndReview h4::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #f58021;
    color: #f58021;
    display: block;
}

.benefitsAndReview ul {
    list-style: none;
    padding: 0px;
}

.benefitsAndReview ul li {
    margin-bottom: 16px;
}

.benefitsAndReview .Reviews .userReview {
    width: 100%;
}

.benefitsAndReview .Reviews .userImage {
    width: 85px;
    margin-right: 10px;
}

.benefitsAndReview .Reviews .userImg {
    position: relative;
}

.benefitsAndReview .Reviews .userImg img {
    border: 2px solid #f58021;
    border-radius: 50%;
}

.benefitsAndReview .Reviews .userImg::after {
    content: "";
    position: absolute;
    width: "";
    height: 20px;
    background: url('../images/shadow.png') no-repeat center center;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100% 20px;
    display: block;
}

.benefitsAndReview .Reviews .rating {
    font-size: 13px;
    color: #f58021;
    margin-top: 18px;
    text-align: center;
}

.benefitsAndReview .Reviews .reviewContent {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    width: calc(100% - 95px);
}

.benefitsAndReview .Reviews .reviewContent p {
    margin-bottom: 5px !important;
}

.benefitsAndReview .Reviews .userName {
    color: #0076a9;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}


/* Excercise Board */

.excerciseBoard {
    background: url('../images/bgDotted.png') #004968;
    position: relative;
    z-index: 100;
    padding-top: 100px;
    position: relative;
}

.excerciseBoard:after {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: url('../images/dottedFooter.png') center center no-repeat;
    background-size: 100% 50px;
}

.excerciseBoard .properImage {
    width: 300px;
    float: left;
}

.excerciseBoard .properImageDesc {
    width: calc(100% - 300px);
    float: left;
}

.excerciseBoard h2 {
    line-height: 118px;
}

.excerciseBoard .headingBox {
    text-align: center;
    background: url('../images/vibrationbanner.png') no-repeat center center;
    height: 118px;
    position: absolute;
    width: 100%;
    top: -39px;
}

.excerciseBoard button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f58021;
    border-color: #f58021;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 14px;
    font-family: 'Rajdhani', sans-serif;
    margin: 50px 0 0 70px;
    text-shadow: 1px 1px #000000;
}

.excerciseBoard .properImageDesc a,
.excerciseBoard .properImageDesc a:hover {
    text-align: center;
    position: relative;
    border: 1px solid #fff;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.excerciseBoard .properImageDesc a.active {
    background: #f58021;
    border: 1px solid #f58021;
    color: #fff;
}

.excerciseBoard .properImageDesc a.active:after {
    content: '';
    width: 11px;
    height: 18px;
    background: url('../images/arrow.png') no-repeat center center;
    position: absolute;
    right: -12px;
    top: 11px;
}

.excerciseBoard .headingBox h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.excerciseBoard .tab-content>.tab-pane {
    color: #fff;
}

.goodVib {
    background: #dbedf2;
}

.goodVib .goodVibeNew {
    position: relative;
    background: #02529b;
    font-family: 'Rajdhani', sans-serif;
    font-size: 55px;
    line-height: 44px;
    font-weight: 700;
    color: #fff;
    padding-top: 38px;
}

.goodVib .goodVibeNew:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 150%;
    left: -150%;
    top: 0px;
    background: #02529b;
}

.goodVib .goodVibeNew:before {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    right: -14px;
    border-top: 84px solid transparent;
    border-left: 14px solid #02529b;
    border-bottom: 84px solid transparent;
    top: 0px;
}

.videoSim h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #1a5dad;
    margin-bottom: 30px;
}

.videoSim .videoBlock {
    background-color: #e8e8e8;
    padding: 28px 0px;
}

.videoScroll .scrollItem+.scrollItem {
    margin-top: 17px;
}

.viewVideo img {
    width: 91%;
    margin-left: 23px;
}


/* whole body Vibration */

.wholebodyVibration h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* .wholebodyVibration h3 span {
    display: inline-block;
    position: relative;
    padding-bottom: 6px;
    border-bottom: 1px solid #f58021;
}

.wholebodyVibration h3 span::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 4px;
    top: 52px;
    bottom: 0;
    left: 50%;
    right: 0;
    background: #f58021;
    color: #f58021;
    display: block;
    margin-left: -15px;
} */

.wholebodyVibration h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 34px;
}

.wholebodyVibration p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

.wholebodyVibration .marginTop {
    margin-top: 20px;
}

.wholebodyVibration .borderBottom {
    border-bottom: 1px solid #dadada;
}

.wholebodyVibration {
    margin-bottom: -80px;
}

.wholebodyVibration .borderRight {
    border-right: 1px solid #dadada;
}

.wholebodyVibration button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f58021;
    border-color: #f58021;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 14px;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 45px;
    margin-bottom: 0px !important;
    text-shadow: 1px 1px #000000;
}

.wholebodyVibration .btn-primary:hover {
    color: #fff;
    background-color: #f58021;
    border-color: #f58021;
}

wholebodyVibration .btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.wholebodyVibration primary:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: #f58021 !important;
    border-color: #f58021 !important;
}

.wholebodyVibration img {
    max-width: 100%;
    margin-bottom: 25px;
}


/* footer */

.footer .footerBg {
    background: url('../images/footerSideimage.png') left bottom no-repeat #ee891d;
}

.footer .footerBg:before {
    content: '';
    background: url(../images/footerBanner.png) no-repeat top center;
    background-size: 100% 187px;
    height: 187px;
    display: block;
}

.footer .contactDetails {
    /* border-left: 1px solid #fff; */
    font-size: 23px;
    color: #ffffff;
    padding-top: 30px;
    position: relative;
}

.footer .contactDetails::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 155px;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
}

.footer .contactDetails .icon {
    margin: 0px 10px;
}

.footer .contactDetails .contactNum {
    font-weight: 700;
}

.footer .copyRight {
    background-color: #013c6a;
    color: #fff;
    font-size: 16px;
    padding: 20px;
}

.footer .copyRight p {
    margin-bottom: 0px !important;
}

.footer .footerBg .abtProduct p {
    background: #004877;
    border-radius: 16px;
    padding: 0 10px;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
    padding: 0px 10px;
    margin: 5px 0 5px 177px;
    color: #fff;
    width: 341px;
    z-index: 99;
    position: relative;
    font-weight: 700;
}

.footer .footerBg p i {
    padding-right: 5px;
}

.footer .footerBg .product {
    background: #fff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 8px solid #f58021;
    position: absolute;
    top: -88px;
    left: -40px;
}

.footer .footerBg .product img {
    width: 100%;
    height: auto;
}

.footer .footerBg .sidebox p {
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer .footerBg .sidebox button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #013c6a;
    border-color: #013c6a;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 14px;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 0px !important;
}