
<div class="col-lg-12 mb-40 single-game">
    <div class="game-card style--two">
      <div class="game-card__content wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.7s">
        <div class="game-card__details">
          <div class="game-card__info">
            <div class="thumb-wrapper">
              <div class="thumb"><img src="assets/images/games/s2.jpg" alt="image"></div>
              <div class="game-card__ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>(4.5)</span>
              </div>
            </div>
            <div class="content">
              <h3 class="game-card__title"><a href="game-details.html">Gem Saviour Sword</a></h3>
              <p>Fusce sit amet erat sagittis, finibus libero sit amet, aliquet erat. dolor.Duis luctus felis sit amet libero.</p>
              <a href="game-details.html" class="mt-3">Read More</a>
            </div>
          </div>
        </div>
      </div><!-- game-card__content end -->
      <div class="game-card__thumb wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <img src="assets/images/games/b2.jpg" alt="image">
      </div>
      <div class="game-card__footer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
        <div class="left">
          <div class="thumb"><img src="assets/images/games/m3.jpg" alt="image" class="w-100"></div>
          <div class="thumb"><img src="assets/images/games/m4.jpg" alt="image" class="w-100"></div>
        </div>
        <div class="right">
          <div class="caption">DOWNLOAD NOW AT</div>
          <div class="apps-btn">
            <a href="#0"><img src="assets/images/elements/apple-btn.png" alt="image"></a>
            <a href="#0"><img src="assets/images/elements/google-btn.png" alt="image"></a>
          </div>
        </div>
      </div>
    </div><!-- game-card end -->
  </div>single-game end
  <div class="col-lg-12 mb-40 single-game">
    <div class="game-card style--two">
      <div class="game-card__content wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.7s">
        <div class="game-card__details">
          <div class="game-card__info">
            <div class="thumb-wrapper">
              <div class="thumb"><img src="assets/images/games/s3.jpg" alt="image"></div>
              <div class="game-card__ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>(4.5)</span>
              </div>
            </div>
            <div class="content">
              <h3 class="game-card__title"><a href="game-details.html">Journey To The Wealth</a></h3>
              <p>Fusce sit amet erat sagittis, finibus libero sit amet, aliquet erat. dolor.Duis luctus felis sit amet libero.</p>
              <a href="game-details.html" class="mt-3">Read More</a>
            </div>
          </div>
        </div>
      </div><!-- game-card__content end -->
      <div class="game-card__thumb wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <img src="assets/images/games/b3.jpg" alt="image">
      </div>
      <div class="game-card__footer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
        <div class="left">
          <div class="thumb"><img src="assets/images/games/m5.jpg" alt="image" class="w-100"></div>
          <div class="thumb"><img src="assets/images/games/m6.jpg" alt="image" class="w-100"></div>
        </div>
        <div class="right">
          <div class="caption">DOWNLOAD NOW AT</div>
          <div class="apps-btn">
            <a href="#0"><img src="assets/images/elements/apple-btn.png" alt="image"></a>
            <a href="#0"><img src="assets/images/elements/google-btn.png" alt="image"></a>
          </div>
        </div>
      </div>
    </div><!-- game-card end -->
  </div><!-- single-game end -->
  <div class="col-lg-12 mb-40 single-game">
    <div class="game-card style--two">
      <div class="game-card__content wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.7s">
        <div class="game-card__details">
          <div class="game-card__info">
            <div class="thumb-wrapper">
              <div class="thumb"><img src="assets/images/games/s4.jpg" alt="image"></div>
              <div class="game-card__ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>(4.5)</span>
              </div>
            </div>
            <div class="content">
              <h3 class="game-card__title"><a href="game-details.html">Tomb of Treasure</a></h3>
              <p>Fusce sit amet erat sagittis, finibus libero sit amet, aliquet erat. dolor.Duis luctus felis sit amet libero.</p>
              <a href="game-details.html" class="mt-3">Read More</a>
            </div>
          </div>
        </div>
      </div><!-- game-card__content end -->
      <div class="game-card__thumb wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <img src="assets/images/games/b4.jpg" alt="image">
      </div>
      <div class="game-card__footer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
        <div class="left">
          <div class="thumb"><img src="assets/images/games/m1.jpg" alt="image" class="w-100"></div>
          <div class="thumb"><img src="assets/images/games/m2.jpg" alt="image" class="w-100"></div>
        </div>
        <div class="right">
          <div class="caption">DOWNLOAD NOW AT</div>
          <div class="apps-btn">
            <a href="#0"><img src="assets/images/elements/apple-btn.png" alt="image"></a>
            <a href="#0"><img src="assets/images/elements/google-btn.png" alt="image"></a>
          </div>
        </div>
      </div>
    </div><!-- game-card end -->
  </div><!-- single-game end -->