<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-92" style="background-image: url(assets/images/iphone-6-458153-1920-1920x1285-12.jpg);">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Crownedpix Web, Game and Application Development</h3>
                        <div><p>We are freelance Programmers!!! <br></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mbr-section" id="header3-109">
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">AT CROWNEDPIX</h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="content1-96">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
              <p>We here build things with care. Folllowing below is a list of what we do.</p>
              <blockquote><p><em>WE SPECIALIZE IN:</em></p>
                <ul>
                  <li><em>&nbsp; &nbsp; HTML5 and CSS3</em></li>
                  <li><em>&nbsp; &nbsp; Bootstrap 3</em></li>
                  <li><em>&nbsp; &nbsp; Grid System and Responsive Design</em></li>
                  <li><em>&nbsp; &nbsp; Carousel built using Bootstrap/Owl Carousel</em></li>
                  <li><em>&nbsp; &nbsp; Wordpress</em></li>
                  <li><em>&nbsp; &nbsp; E-Commerce Websites</em></li>
                  <li><em>&nbsp; &nbsp; Google Fonts Support</em></li>
                  <li><em>&nbsp; &nbsp; Video Background</em></li>
                  <li><em>&nbsp; &nbsp; Google Maps API Integration</em></li>
                  <li><em>&nbsp; &nbsp; Lightbox Galleries</em><br></li>
                  <li><em>&nbsp; &nbsp; Social Media Integrations</em></li>
                  <li><em>&nbsp; &nbsp; Crossbrowser compatibility</em></li>
                  <li><em>&nbsp; &nbsp; Well optimised PC Games and Mobile Games</em><br></li>
                  <li><em>&nbsp; &nbsp; Unity Gaming</em></li>
                  <li><em>&nbsp; &nbsp; Set dressing For games</em></li>
                  <li><em>&nbsp; &nbsp; Unity Asset Development</em></li>
                  <li><em>&nbsp; &nbsp; In App purchase for Android and IOS games</em></li>
                  <li><em>&nbsp; &nbsp; Hybrid Application Development</em></li>
                  <li><em>&nbsp; &nbsp; Hybrid Application with Social integration</em></li>
                  <li><em>&nbsp; &nbsp; Hybrid Application with InApp purchase support</em></li>
                  <li><em>&nbsp; &nbsp; Hybrid Application Development using Ionic or Xamarin</em></li>
                </ul>
                <p><em><br></em></p>
              </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="buttons1-115">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-warning" href="https://mobirise.com/bootstrap-template/mobirise-free-template.zip">DOWNLOAD THEME NOW!</a> </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="header3-110">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">DEMOS</h3>

            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="image2-97">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-outside-bottom mbr-figure--no-bg">

                    <div><a href="one-page.html"><img class="mbr-figure__img" src="assets/images/one-page-2509x1670-22.jpg"></a></div>

                </figure>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="image2-111">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><a href="slider.html"><img class="mbr-figure__img" src="assets/images/slider-2511x1674-33.jpg"></a></div>

                </figure>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="image2-113">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><a href="video-background.html"><img class="mbr-figure__img" src="assets/images/video-bg-2510x1672-73.jpg"></a></div>

                </figure>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="image2-114">
    <div class="mbr-section__container container mbr-section__container--last">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><a href="blog.html"><img class="mbr-figure__img" src="assets/images/blog-2511x1670-64.jpg"></a></div>

                </figure>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background" id="msg-box3-117" style="background-image: url(assets/images/imac-605421-1920-1920x1275-41.jpg);">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">FREE LICENSE TERMS</h3>

            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><ul><li>Mobirise Bootstrap Template is free, you may use it in any personal or business projects without any charge. Backlinks and credits are appreciated but not mandatory.</li><li>You may not redistribute or resale this template, modified or unmodified.<br></li></ul></div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-default" href="https://mobirise.com/bootstrap-template/mobirise-free-template.zip">DOWNLOAD TEMPLATE</a></div>
            </div>
        </div>
    </div>
</section>
